<h1>Calculator</h1>
<table>
  <tr> 
    <th><a href="/clear"><button>AC</button></a></th>
    <td colspan="3">{{.}}</td>
  </tr>
  <tr>
    <th><a href="/num?num=7"><button>7</button></a></th>
    <th><a href="/num?num=8"><button>8</button></a></th>
    <th><a href="/num?num=9"><button>9</button></a></th>
    <th><a href="/ope?ope=div"><button>÷</button></a></th>
  </tr>
  <tr>
    <th><a href="/num?num=4"><button>4</button></a></th>
    <th><a href="/num?num=5"><button>5</button></a></th>
    <th><a href="/num?num=6"><button>6</button></a></th>
    <th><a href="/ope?ope=mul"><button>×</button></a></th>
  </tr>
  <tr>
    <th><a href="/num?num=1"><button>1</button></a></th>
    <th><a href="/num?num=2"><button>2</button></a></th>
    <th><a href="/num?num=3"><button>3</button></a></th>
    <th><a href="/ope?ope=sub"><button>−</button></a></th>
  </tr>
  <tr>
    <th><a href="/num?num=0"><button>0</button></a></th>
    <th><a href="/num?num=."><button>.</button></a></th>
    <th><a href="/eval"><button>=</button></a></th>
    <th><a href="/ope?ope=add"><button>+</button></a></th>
  </tr>
</table>

<style type="text/css">
  <!--
  td {
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 5px;
  }
  button {
    width: 36px;
    height: 24px;
  }
  --> 
  </style>
